NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
NEXT_PUBLIC_SITE_URL=http://localhost:3000
RESEND_API_KEY=
ADMIN_NOTIFICATION_EMAIL=lillyansbeautystudio@gmail.com
FROM_EMAIL=Lillyan's Beauty Studio <notifications@yourdomain.com>
SQUARE_ACCESS_TOKEN=sq0idp-EAAAl0SC5Jor2TfDzuRWcg97EJm9Bzf3RmyRCtEqq2YrhX5oXJNLjk-_sKn8OlAu
SQUARE_APPLICATION_ID=sq0idp-EDjkMcCqHux5V8Lfec0JOA
SQUARE_LOCATION_ID=LZEVEEY3KMC7R
SQUARE_WEBHOOK_SIGNATURE_KEY=
SQUARE_ENVIRONMENT=production